body {
	background-color: rgba(100,100,100,.9);
	color : white;
}

#center {
	margin: 5% 15% 0% 15%;
	padding: 4%;
	border: 2px solid white;
	border-radius: 10px;
	background-color: rgba(0,0,0,.4);
}

