<!DOCTYPE html>
<html>
<head>
	<title>Repository</title>
</head>
<body>
	<form method="POST" action="/asignup">
		<input type="text" name="user">
		<input type="password" name="password">
		<input type="submit">
	</form>
</body>
</html>