<%- include header.ejs -%>
	<link rel="stylesheet" type="text/css" href="/userHome.css">
	<link rel="stylesheet" type="text/css" href="/upload.css">
	<link rel="stylesheet" type="text/css" href="/navbar.css">

	<title>Home</title>

</head>
<body>
	<%- include navbar.ejs -%>

	<!-- upload file form -->
	<div class= "container fileForm" >
		<form method="post" action="/upload" enctype="multipart/form-data">
			<div class="form-group">
				<input type="file" name="file">
			</div>
			<button type="submit" class="btn btn-primary">Upload</button>
		</form>
	</div>
	

</body>
</html>